<!-- Container -->
<div class="container">
  <div class="section">
    <div class="row">
        <!-- Article Cards (with photo) -->
        {{#each data}}
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-image">
                    <img src="{{this.photoURL}}">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h4 class="header"><a href="{{this.link}}" target="blank">{{this.title}}</a></h4>
                        <p>{{this.summary}}</p>
                    </div>
                    <div class="card-action">
                        <a data-id="{{this._id}}" class="teal-text text-lighten-3">Add An Article Note</a>
                    </div>
                    <div class="card-action">
                        <a data-id="{{this._id}}" class="teal-text text-lighten-3">Remove From Saved</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>